.AverageTemp-page {
    background-color: bisque;
    min-height: 100vh;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(74, 73, 68); 
  }
  
  .main {
    background-color: bisque;
    padding: 20px;
  }
  
  .menu {
    margin-bottom: 20px;
  }
  
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  