/* src/components/StartPage.css */
.start-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('C:\Users\valde\OneDrive\Skrivbord\ClimateDataAnalysisProjekt\climate-frontend\public\natures.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  
  .start-page h1 {
    font-size: 4em;
    position:absolute;
    top: 5px;
    margin-bottom: 0.1em;
    color: white;
    filter: drop-shadow(0 0 5px #2c4f6e);
  }

  
  .start-page h2 {
    font-size: 2em;
    position:absolute;
    top:80px;
    margin-bottom: 3em;
    color: white;
    filter: drop-shadow(0 0 5px #3d6181);
  }



  /* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.start-page .button {
  --border-right: 6px;
  --text-stroke-color: white;
  --animation-color: #fff837;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.start-page .hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.start-page .button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}